<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body>

<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Pages</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <th scope="row">{{book.id}}</th>
        <td><a href="/books/{{book.id}}">{{book.name}}</a></td>
        <td>{{book.pages}}</td>
        <td>{{book.author}}</td>
        <td>{{book.publisher.name}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{% for author in authors %}
<p>{{author.name}}(Количество его книг {{author.books.count}})
    {% for book in author.books.all %}
        <span>#{{book.name}}(Заказов:{{book.order_set.count}}), {{book.publisher.name}}</span><br/>
    {%endfor%}
</p>
{%endfor%}

<hr/>
{% for publisher in publishers %}
<p>{{publisher.name}}(Количество изданных книг {{publisher.books.count}})
    {% for book in publisher.books.all %}
        <span>#{{book.name}}</span><br/>
    {%endfor%}
</p>
{%endfor%}

</body>
</html>
